{% extends "layout.html" %}


{% block content %}

{% include "incl_menubar.html" %}

<div id="site_content">

  {% include "incl_sidebar.html" %}

  <h1 class="mb-3">Посты опубликованы пользователем {{ user.username }} ({{ posts.total }})</h1>
  {% for post in posts.items %}
  <div class="container" style="display: flex;">
    <article class="media" style="display: flex; flex-direction: column;">
      <img class="rounded-circle article-img" style="margin-right: 5px;" width="100" height="111" 
        src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
      <a class="mr-2" href="{{ url_for('user_apl.bloger_posts', blogername=post.author.username) }}"
        style="margin: 0 auto">{{ post.author.username }}</a>
    </article>
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-body">
        <h4 class="card-title"><a class="title" href="{{ url_for('blog_apl.post', post_id=post.id) }}">{{ post.title
            }}</a></h4>
        <small>Опубликовано {{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}</small>
        <br>
        <br>
        <p class="card-text">{{ post.lemma if post.lemma else post.content[:128] }}</p>
      </div>
      {% if post.comments_number(post.id) %}
      <small>Комментарии: {{ post.comments_number(post.id) }}</small>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if posts.page == page_num %}
  <a class="btn btn-success mb-4"
    href="{{ url_for('user_apl.bloger_posts', blogername=user.username, page=page_num) }}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn-outline-success mb-4"
    href="{{ url_for('user_apl.bloger_posts', blogername=user.username, page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>

{% endblock content %}